.url-shortener {
    padding-top: 5rem;
}

.url-short-message-box {
    text-align: center;
    margin-top: 1rem;
}

.short-url-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.copy-btn {
  background: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.copy-btn:hover {
  background: #c0392b;
}

.menu-item .advertisement {
  height: auto;
}

.advertisement-detail-label {
  text-align: center;
}

.redirection-section {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 0rem;
  padding: 0rem;
}

.redirection-section .reservation {
  padding: 1rem;
  margin: 0;
}